.w3-traffic-brown{color:#fff;background-color:#633517}
.w3-traffic-red{color:#fff;background-color:#a6001a}
.w3-traffic-orange{color:#fff;background-color:#e06000}
.w3-traffic-schoolbus{color:#fff;background-color:#ee9600}
.w3-traffic-yellow{color:#fff;background-color:#ffab00}
.w3-traffic-green{color:#fff;background-color:#004d33}
.w3-traffic-blue{color:#fff;background-color:#00477e}
