.w3-back-red{color:#000;background-color:#ffe0e0}
.w3-back-blue{color:#000;background-color:#e0e0ff}
.w3-back-green{color:#000;background-color:#e0ffe0}
.w3-back-cyan{color:#000;background-color:#e0ffff}
.w3-back-yellow{color:#000;background-color:#ffffe0}
.w3-back-magenta{color:#000;background-color:#ffe0ff}
.w3-back-test{color:#000;background-color:#ffe0ff}
